DB_USER=postgres
DB_NAME=dfcl-shop
DB_PASSWORD=123456

# openssl rand -base64 32
AUTH_SECRET=your-secret-key
AUTH_GOOGLE_ID=your-id-here
AUTH_GOOGLE_SECRET=your-secret-here
BREVO_API_KEY=your-brevo-key
JWT_SECRET=your-jwt-key
NEXT_PUBLIC_APP_URL=http://localhost:3000

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:123456@localhost:5432/dfcl-shop?schema=public"