@import "tailwindcss";

:root {
  --primary: #f43f5e;
  --secondary: #c80633;
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
  --background-start-rgb: 250, 235, 240; /* muy claro */
  --background-end-rgb: 255, 245, 250; /* casi blanco */
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-start-rgb))
    ),
    rgb(var(--background-end-rgb));
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.border-interface {
  @apply rounded-xl shadow-lg shadow-purple-500 border-2 border-purple-200;
}

.btn-primary {
  @apply bg-primary hover:bg-secondary text-white py-2 px-4 rounded transition-all cursor-pointer;
}

.btn-secondary {
  @apply bg-gray-200 hover:bg-gray-300 text-black py-2 px-4 rounded transition-all;
}

.btn-disabled {
  @apply bg-gray-600 text-white py-2 px-4 rounded transition-all cursor-not-allowed;
}

.container-page-form {
  @apply flex justify-center my-10 mt-14 px-5;
}

.container-form {
  @apply w-full sm:w-90 sm:col-start-2;
}

.btn-danger {
  @apply bg-primary hover:bg-primary text-white py-2 px-4 transition-all;
}
